.maell a.element.disabled.button{
	background-color:white;
	cursor:no-drop;
	opacity : 0.4;
    filter : alpha(opacity=10);
}

.maell.element.disabled a.button.icon:hover, .maell.element.disabled a.button:hover{
	cursor:no-drop;
}

.maell.element.disabled a.button.icon:active, .maell.element.disabled a.button:active, .maell.element.disabled a.button span:active{
	cursor:no-drop;
}

.maell.element a.button:active, .maell.element a span:active{
	cursor:wait;
}

/*.maell a.element.button*/

.maell a.button, a.button.maell, a.button.element:hover, a.button.element:focus {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
/*	color:#ffffff; */
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	overflow: visible;
	margin:5px;
}

/*.maell a.element.button:hover*/
.maell a.button:hover, a.button.maell:hover, a.button.element:hover, a.button.element:focus {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .6) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}

/*propiétés taille button*/

.maell a.button.element.large,a.element.large,.maell.large a.element{
	font-size:14px;
	height: 1.75em;
	line-height: 1.625em;
	padding: 0.75em 1em 0.75em 0.90em;
	line-height:1.75em;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}

.maell a.button.element.medium,a.element.medium,.maell.medium a.element{
	font-size:12px;
	line-height: 1.625em;
	padding: 0.75em 1em 0.75em 0.90em;
	line-height:1.75em;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}

.maell a.button.element.small,a.element.small,.maell.small a.element{
	font-size:10px;
	height: 1.75em;
	line-height: 1.625em;
	padding: 0.75em 1em 0.75em 0.90em;
	line-height:1.75em;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}



/*LARGE 32PX*/

/*cart 32px large*/

.maell a.element.large.icon span.cart-grey,.maell.large span.cart-grey{
	background-position: 0 0;
}

.maell a.element.large.icon span.cart-blue,.maell.large span.cart-blue{
	background-position: -32px 0;
}

.maell a.element.large.icon span.cart-green,.maell.large span.cart-green{
	background-position: -64px 0;
}

.maell a.element.large.icon span.right-arrow,.maell.large span.right-arrow{
	background-position: -96px 0;
}

.maell a.element.large.icon span.right-arrow-blue,.maell.large span.right-arrow-blue{
	background-position: -128px 0;
}

.maell a.element.large.icon span.right-arrow-green,.maell.large span.right-arrow-green{
	background-position: -160px 0;
}

.maell a.element.large.icon span.cart-valid,.maell.large span.cart-valid{
	background-position: -224px 0;
}

.maell a.element.large.icon span.delete,.maell.large span.delete{
	background-position: -256px 0;
}

.maell a.element.large.icon span.left-arrow,.maell.large span.left-arrow{
	background-position: 0 -32px;
}

.maell a.element.large.icon span.left-arrow-blue,.maell.large span.left-arrow-blue{
	background-position: -32px -32px;
}

.maell a.element.large.icon span.left-arrow-green,.maell.large span.left-arrow-green{
	background-position: -64px -32px;
}

.maell .element.large.icon span.csv,.maell.large span.csv{
	background-position: -96px -32px;
}

.maell a.element.large.icon span.pdf,.maell.large span.pdf{
	background-position:  -160px -32px;
}

.maell a.element.large.icon span.file-pdf,.maell.large span.file-pdf{
	background-position:  -160px -32px;
}

.maell a.element.large.icon span.xml,.maell.large span.xml{
	background-position:-128px -32px;
}

.maell a.element.large.icon span.euro-blue,.maell.large span.euro-blue{
	background-position:-192px -32px;
}

.maell a.element.large.icon span.euro-green,.maell.large span.euro-green{
	background-position:-224px -32px;
}

.maell a.element.large.icon span.more-circle-green,.maell.large span.more-circle-green{
	background-position:-256px -32px;
}

.maell a.element.large.icon span.less-circle-green,.maell.large span.less-circle-green{
	background-position:-288px -32px;
}

.maell a.element.large.icon span.less-circle-blue,.maell.large span.less-circle-blue{
	background-position:-320px -32px;
}

.maell a.element.large.icon span.more-blue,.maell.large span.more-blue{
	background-position: -352px -32px;
}

.maell a.element.large.icon span.less-blue,.maell.large span.less-blue{
	background-position: -384px -32px;
}

.maell a.element.large.icon span.more-green,.maell.large span.more-green{
	background-position: -416px -32px;
}

.maell a.element.large.icon span.less-green,.maell.large span.less-green{
	background-position: -448px -32px;
}

.maell a.element.large.icon span.search-grey,.maell.large span.search-grey{
	background-position: -480px -32px;
}

.maell a.element.large.icon span.search-blue,.maell.large span.search-blue{
	background-position: -512px -32px;
}

.maell a.element.large.icon span.calc,.maell.large span.calc{
	background-position: 0 -64px;
}

.maell a.element.large.icon span.mail,.maell.large span.mail{
	background-position: -32px -64px;
}

.maell a.element.large.icon span.graph-circle,.maell.large span.graph-circle{
	background-position: -64px -64px;
}

.maell a.element.large.icon span.floppy-disk,.maell.large span.floppy-disk{
	background-position: -96px -64px;
}

.maell a.element.large.icon span.blue-print,.maell.large span.blue-print{
	background-position: -128px -64px;
}

.maell a.element.large.icon span.green-print,.maell.large span.green-print{
	background-position: -160px -64px;
}

.maell a.element.large.icon span.help, .maell.large span.help{
	background-position: -192px 0;
}
.maell a.element.large.icon span.valid, .maell.large span.valid{
	background-position: -224px 0;
}

.maell a.element.large.icon span.delete, .maell.large span.delete{
	background-position: -256px 0;
}

.maell a.element.large.icon span.alert, .maell.large span.alert{
	background-position: -288px 0;
}

.maell a.element.large.icon span.admin, .maell.large span.admin{
	background-position: -320px 0;
}

.maell a.element.large.icon span.tool-blue, .maell.large span.tool-blue{
	background-position: -352px 0;
}

.maell a.element.large.icon span.tool-grey, .maell.large span.tool-grey{
	background-position: -384px 0;
}

.maell a.element.large.icon span.refresh, .maell.large span.refresh{
	background-position: -416px 0;
}

.maell a.element.large.icon span.trash, .maell.large span.trash{
	background-position: -448px 0;
}

.maell a.element.large.icon span.stock-ok, .maell.large span.stock-ok{
	background-position: -512px 0;
}

.maell a.element.large.icon span.stock-not-ok, .maell.large span.stock-not-ok{
	background-position: -480px 0;
}


.maell a.element.large.icon span.buoy, .maell.large span.buoy{
	background-position: -192px -65px;
}

.maell a.element.large.icon span.graph-color, .maell.large span.graph-color{
	background-position: -225px -65px;
}

.maell a.element.large.icon span.graph-green, .maell.large span.graph-green{
	background-position: -257px -66px;
}

.maell a.element.large.icon span.speaker, .maell.large span.speaker{
	background-position: -288px -65px;
}

.maell a.element.large.icon span.file, .maell.large span.file{
	background-position: -321px -66px;
}

.maell a.element.large.icon span.folder-green, .maell.large span.folder-green{
	background-position: -352px -66px;
}

.maell a.element.large.icon span.folder-blue, .maell.large span.folder-blue{
	background-position: -383px -66px;
}

.maell a.element.large.icon span.file-doc, .maell.large span.file-doc,
.maell a.element.large.icon span.file-docx, .maell.large span.file-docx{
	background-position: -416px -66px;
}

.maell a.element.large.icon span.file-xls, .maell.large span.file-xls,
.maell a.element.large.icon span.file-xlsx, .maell.large span.file-xlsx{
	background-position: -448px -66px;
}

.maell a.element.large.icon span.file-ppt, .maell.large span.file-ppt,
.maell a.element.large.icon span.file-pptx, .maell.large span.file-pptx{
	background-position: -481px -66px;
}

.maell a.element.large.icon span.file-zip, .maell.large span.file-zip{
	background-position: -513px -65px;
}

.maell a.element.large.icon span.file-video, .maell.large span.file-video{
	background-position: -33px -96px;
}

.maell a.element.large.icon span.file-jpg, .maell.large span.file-jpg,
.maell a.element.large.icon span.file-png, .maell.large span.file-png {
	background-position: -1px -97px;
}

.maell a.element.large.icon span.pie-chart, .maell.large span.pie-chart{
	background-position: -65px -65px;
}

.maell a.element.large.icon span.file-sound, .maell.large span.file-sound{
	background-position: -64px -96px;
}

.maell a.element.large.icon span.file-odt,.maell.large span.file-odt{
	background-position: -128px -96px;
}

.maell a.element.large.icon span.file-ods,.maell.large span.file-ods{
	background-position: -158px -96px;
}

.maell a.element.large.icon span.aid,.maell.large span.aid{
	background-position: -192px -96px;
}



/*MEDIUM 24PX*/

/*cart 24px medium*/

.maell a.element.medium.icon span.cart-grey,.maell.medium span.cart-grey{
	background-position: 0 0;
}

.maell a.element.medium.icon span.cart-blue,.maell.medium span.cart-blue{
	background-position: -24px 0;
}

.maell a.element.medium.icon span.cart-green,.maell.medium span.cart-green{
	background-position: -48px 0;
}

.maell a.element.medium.icon span.right-arrow,.maell.medium span.right-arrow{
	background-position: -72px 0 ;
}

.maell a.element.medium.icon span.right-arrow-blue,.maell.medium span.right-arrow-blue{
	background-position: -96px 0;
}

.maell a.element.medium.icon span.right-arrow-green,.maell.medium span.right-arrow-green{
	background-position: -120px 0;
}

.maell a.element.medium.icon span.cart-valid,.maell.medium span.cart-valid{
	background-position: -144px 0;
}

.maell a.element.medium.icon span.delete,.maell.medium span.delete{
	background-position: -168px 0;
}

.maell a.element.medium.icon span.left-arrow,.maell.medium span.left-arrow{
	background-position: 0 -24px;
}

.maell a.element.medium.icon span.left-arrow-blue,.maell.medium span.left-arrow-blue{
	background-position: -24px -24px;
}

.maell a.element.medium.icon span.left-arrow-green,.maell.medium span.left-arrow-green{
	background-position: -48px -24px;
}

.maell a.element.medium.icon span.csv,.maell.medium span.csv{
	background-position: -72px -24px;
}

.maell a.element.medium.icon span.file-csv,.maell.medium span.file-csv {
	background-position: -72px -24px;
}

.maell a.element.medium.icon span.pdf,.maell.medium span.pdf{
	background-position: -120px -24px;
}

.maell a.element.medium.icon span.file-pdf,.maell.medium span.file-pdf{
	background-position: -120px -24px;
}

.maell a.element.medium.icon span.xml,.maell.medium span.xml{
	background-position: -96px -24px;
}

.maell a.element.medium.icon span.file-xml,.maell.medium span.file-xml{
	background-position: -96px -24px;
}

.maell a.element.medium.icon span.euro-blue,.maell.medium span.euro-blue{
	background-position: -144px -24px;
}

.maell a.element.medium.icon span.euro-green,.maell.medium span.euro-green{
	background-position: -168px -24px;
}

.maell a.element.medium.icon span.more-circle-green,.maell.medium span.more-circle-green{
	background-position: -192px -24px;
}

.maell a.element.medium.icon span.less-circle-green,.maell.medium span.less-circle-green{
	background-position: -216px -24px;
}

.maell a.element.medium.icon span.less-circle-blue,.maell.medium span.less-circle-blue{
	background-position: -240px -24px;
}

.maell a.element.medium.icon span.more-blue,.maell.medium span.more-blue{
	background-position: -264px -24px;
}

.maell a.element.medium.icon span.less-blue,.maell.medium span.less-blue{
	background-position: -288px -24px;
}

.maell a.element.medium.icon span.more-green,.maell.medium span.more-green{
	background-position: -312px -24px;
}

.maell a.element.medium.icon span.less-green,.maell.medium span.less-green{
	background-position: -336px -24px;
}

.maell a.element.medium.icon span.search-grey,.maell.medium span.search-grey{
	background-position: -384px -24px;
}

.maell a.element.medium.icon span.search-blue,.maell.medium span.search-blue{
	background-position: -360px -24px;
}

.maell a.element.medium.icon span.calc,.maell.medium span.calc{
	background-position: 0 -48px;
}

.maell a.element.medium.icon span.mail,.maell.medium span.mail{
	background-position: -24px -48px;
}

.maell a.element.medium.icon span.graph-circle,.maell.medium span.graph-circle{
	background-position: -48px -48px;
}

.maell a.element.medium.icon span.floppy-disk,.maell.medium span.floppy-disk{
	background-position: -72px -48px;
}

.maell a.element.medium.icon span.blue-print,.maell.medium span.blue-print{
	background-position: -96px -48px;
}

.maell a.element.medium.icon span.green-print,.maell.medium span.green-print{
	background-position: -120px -48px;
}

.maell a.element.medium.icon span.help, .maell.medium span.help{
	background-position: -144px 0;
}

.maell a.element.medium.icon span.valid, .maell.medium span.valid{
	background-position: -168px 0;
}

.maell a.element.medium.icon span.delete, .maell.medium span.delete{
	background-position: -192px 0;
}

.maell a.element.medium.icon span.alert, .maell.medium span.alert{
	background-position: -216px 0;
}

.maell a.element.medium.icon span.admin, .maell.medium span.admin{
	background-position: -240px 0;
}

.maell a.element.medium.icon span.tool-blue, .maell.medium span.tool-blue{
	background-position: -264px 0;
}

.maell a.element.medium.icon span.tool-grey, .maell.medium span.tool-grey{
	background-position: -288px 0;
}

.maell a.element.medium.icon span.refresh, .maell.medium span.refresh{
	background-position: -312px 0;
}

.maell a.element.medium.icon span.trash, .maell.medium span.trash{
	background-position: -336px 0;
}

.maell a.element.medium.icon span.stock-ok, .maell.medium span.stock-ok{
	background-position: -384px 0;
}

.maell a.element.medium.icon span.stock-not-ok, .maell.medium span.stock-not-ok{
	background-position: -360px 0;
}

.maell a.element.medium.icon span.buoy, .maell.medium span.buoy{
	background-position: -144px -49px;
}

.maell a.element.medium.icon span.graph-color, .maell.medium span.graph-color{
	background-position: -169px -49px;
}

.maell a.element.medium.icon span.graph-green, .maell.medium span.graph-green{
	background-position: -193px -48px;
}

.maell a.element.medium.icon span.file, .maell.medium span.file{
	background-position: -241px -49px;
}

.maell a.element.medium.icon span.file-xls, .maell.medium span.file-xls,
.maell a.element.medium.icon span.file-xlsx, .maell.medium span.file-xlsx{
	background-position: -336px -48px;
}

.maell a.element.medium.icon span.file-jpg, .maell.medium span.file-jpg,
.maell a.element.medium.icon span.file-png, .maell.medium span.file-png {
	background-position: -1px -73px;
}

.maell a.element.medium.icon span.file-ppt, .maell.medium span.file-ppt,
.maell a.element.medium.icon span.file-pptx, .maell.medium span.file-pptx{
	background-position: -360px -48px;
}

.maell a.element.medium.icon span.file-video, .maell.medium span.file-video{
	background-position: -24px -73px;
}

.maell a.element.medium.icon span.file-doc, .maell.medium span.file-doc,
.maell a.element.medium.icon span.file-docx, .maell.medium span.file-docx{
	background-position: -311px -48px;
}

.maell a.element.medium.icon span.file-zip, .maell.medium span.file-zip{
	background-position: -385px -48px;
}

.maell a.element.medium.icon span.folder-blue, .maell.medium span.folder-blue{
	background-position: -288px -48px;
}

.maell a.element.medium.icon span.folder-green, .maell.medium span.folder-green{
	background-position: -264px -48px;
}

.maell a.element.medium.icon span.speaker, .maell.medium span.speaker{
	background-position: -216px -48px;
}

.maell a.element.medium.icon span.pie-chart, .maell.medium span.pie-chart{
	background-position: -48px -48px;
}

.maell a.element.medium.icon span.file-sound, .maell.medium span.file-sound{
	background-position: -49px -73px;
}

.maell a.element.medium.icon span.file-odt,.maell.medium span.file-odt{
	background-position: -120px -73px;
}

.maell a.element.medium.icon span.file-ods,.maell.medium span.file-ods{
	background-position: -99px -73px;
}

.maell a.element.medium.icon span.aid,.maell.medium span.aid{
	background-position: -144px -73px;
}


/*SMALL 16PX*/

/*cart 16px small*/

.maell a.element.small.icon span.help,.maell.small span.help{
	background-position: 0 0;
}

.maell a.element.small.icon span.valid,.maell.small span.valid{
	background-position: -16px 0;
}

.maell a.element.small.icon span.cart-grey,.maell.small span.cart-grey{
	background-position: 0 -16px;
}

.maell a.element.small.icon span.cart-blue,.maell.small span.cart-blue{
	background-position: -16px -16px;
}

.maell a.element.small.icon span.cart-green,.maell.small span.cart-green{
	background-position: -32px -16px;
}

.maell a.element.small.icon span.right-arrow,.maell.small span.right-arrow{
	background-position: -48px -16px ;
}

.maell a.element.small.icon span span.right-arrow-blue,.maell.small span.right-arrow-blue{
	background-position: -64px -16px;
}

.maell a.element.small.icon  span.right-arrow-green,.maell.small span.right-arrow-green{
	background-position: -80px -16px;
}

.maell a.element.small.icon span.delete,.maell.small span.delete{
	background-position: -96px -16px;
}

.maell a.element.small.icon span.left-arrow,.maell.small span.left-arrow{
	background-position: -112px -16px;
}

.maell a.element.small.icon span.left-arrow-blue,.maell.small span.left-arrow-blue{
	background-position: -128px -16px;
}

.maell a.element.small.icon span.left-arrow-green,.maell.small span.left-arrow-green{
	background-position: -144px -16px;
}

.maell a.element.small.icon span.csv,.maell.small span.csv{
	background-position: -176px 0;
}

.maell a.element.small.icon span.file-csv,.maell.small span.file-csv{
	background-position: -176px 0;
}

.maell a.element.small.icon span.pdf,.maell.small span.pdf{
	background-position: -192px 0;
}

.maell a.element.small.icon span.xml,.maell.small span.xml{
	background-position: -208px 0;
}

.maell a.element.small.icon span.file-xml,.maell.small span.file-xml{
	background-position: -208px 0;
}

.maell a.element.small.icon span.euro-blue,.maell.small span.euro-blue{
	background-position: -160px -16px;
}

.maell a.element.small.icon span.euro-green,.maell.small span.euro-green{
	background-position: -176px -16px;
}

.maell a.element.small.icon span.more-circle-green,.maell.small span.more-circle-green{
	background-position: -192px -16px;
}

.maell a.element.small.icon span.less-circle-green,.maell.small span.less-circle-green{
	background-position: -208px -16px;
}

.maell a.element.small.icon span.less-circle-blue,.maell.small span.less-circle-blue{
	background-position: 0 -32px;
}

.maell a.element.small.icon span.more-blue,.maell.small span.more-blue{
	background-position: -16px -32px;
}

.maell a.element.small.icon span.less-blue,.maell.small span.less-blue{
	background-position: -32px -32px;
}

.maell a.element.small.icon span.more-green,.maell.small span.more-green{
	background-position: -48px -32px;
}

.maell a.element.small.icon span.less-green,.maell.small span.less-green{
	background-position: -64px -32px;
}

.maell a.element.small.icon span.search-grey,.maell.small span.search-grey{
	background-position:  -96px -32px;
}

.maell a.element.small.icon span.search-blue,.maell.small span.search-blue{
	background-position: -80px -32px;
}

.maell a.element.small.icon span.calc,.maell.small span.calc{
	background-position: -112px -32px;
}

.maell a.element.small.icon span.mail,.maell.small span.mail{
	background-position: -128px -32px;
}

.maell a.element.small.icon span.graph-circle,.maell.small span.graph-circle{
	background-position: -144px -32px;
}

.maell a.element.small.icon span.floppy-disk,.maell.small span.floppy-disk{
	background-position: -160px -32px;
}

.maell a.element.small.icon span.blue-print,.maell.small span.blue-print{
	background-position: -176px -32px;
}

.maell a.element.small.icon span.green-print,.maell.small span.green-print{
	background-position: -192px -32px;
}

.maell a.element.small.icon span.delete, .maell.small span.delete{
	background-position: -32px 0;
}

.maell a.element.small.icon span.alert, .maell.small span.alert{
	background-position: -48px 0;
}

.maell a.element.small.icon span.tool-blue, .maell.small span.tool-blue{
	background-position: -80px 0;
}

.maell a.element.small.icon span.tool-grey, .maell.small span.tool-grey{
	background-position: -96px 0;
}

.maell a.element.small.icon span.admin, .maell.small span.admin{
	background-position: -64px 0;
}

.maell a.element.small.icon span.refresh, .maell.small span.refresh{
	background-position: -112px 0;
}

.maell a.element.small.icon span.trash, .maell.small span.trash{
	background-position: -128px 0;
}

.maell a.element.small.icon span.stock-ok, .maell.small span.stock-ok{
	background-position: -160px 0;
}

.maell a.element.small.icon span.stock-not-ok, .maell.small span.stock-not-ok{
	background-position: -144px 0;
}


.maell a.element.small.icon span.buoy, .maell.small span.buoy{
	background-position: -208px -32px;
}

.maell a.element.small.icon span.graph-green, .maell.small span.graph-green{
	background-position: -17px -49px;
}

.maell a.element.small.icon span.graph-color, .maell.small span.graph-color{
	background-position: 0px -49px;
}

.maell a.element.small.icon span.file, .maell.small span.file{
	background-position: -48px -49px;
}

.maell a.element.small.icon span.file-xls, .maell.small span.file-xls,
.maell a.element.small.icon span.file-xlsx, .maell.small span.file-xlsx{
	background-position: -112px -49px;
}

.maell a.element.small.icon span.file-jpg, .maell.small span.file-png,
.maell a.element.small.icon span.file-png, .maell.small span.file-png {
	background-position: -161px -49px;
}

.maell a.element.small.icon span.file-ppt, .maell.small span.file-ppt,
.maell a.element.small.icon span.file-pptx, .maell.small span.file-pptxt{
	background-position: -129px -49px;
}

.maell a.element.small.icon span.file-video, .maell.small span.file-video{
	background-position: -176px -49px;
}

.maell a.element.small.icon span.file-doc, .maell.small span.file-doc,
.maell a.element.small.icon span.file-docx, .maell.small span.file-docx{
	background-position: -96px -49px;
}

.maell a.element.small.icon span.file-zip, .maell.small span.file-zip{
	background-position: -144px -49px;
}

.maell a.element.small.icon span.folder-blue, .maell.small span.folder-blue{
	background-position: -80px -49px;
}

.maell a.element.small.icon span.folder-green, .maell.small span.folder-green{
	background-position: -63px -49px;
}

.maell a.element.small.icon span.speaker, .maell.small span.speaker{
	background-position: -33px -49px;
}

.maell a.element.small.icon span.pie-chart, .maell.small span.pie-chart{
	background-position: -144px -32px;
}

.maell a.element.small.icon span.file-sound, .maell.small span.file-sound{
	background-position: -193px -49px;
}

.maell a.element.small.icon span.file-odt,.maell.small span.file-odt{
	background-position: -1px -63px;
}

.maell a.element.small.icon span.file-ods,.maell.small span.file-ods{
	background-position: -16px -64px;
}

.maell a.element.small.icon span.aid,.maell.small span.aid{
	background-position: -32px -64px;
}



/*Couleurs*/


.maell a.element.white.button, .maell.white a.button, a.element.white.button.maell {
	background-color: #FFFFFF;
	color: #666666;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
}

.maell a.element.white,.maell.white a{									/*si background blanc A VOIR*/
	color: #666666;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.maell a.element.black.button, .maell.black a.button, a.element.black.button.maell {
	background-color: #333333;
}

.maell a.element.grey.button, .maell.grey a.button, a.element.grey.button .maell /*.maell.grey a.button*/{
	background-color: #666666;
}

.maell a.element.red.button,a.element.red.button.maell{
	background-color: #e62727;
}

.maell a.element.orange.button,a.element.orange.button.maell{
	background-color: #ff5c00;
}

.maell a.element.magenta.button, a.element.magenta.button.maell{
	background-color: #A9014B;
}

.maell a.element.yellow.button,a.element.yellow.button.maell{
	background-color: #ffb515;
}

.maell a.element.blue.button, a.element.blue.button.maell{
	background-color: #00ADEE;
}

.maell a.element.pink.button, a.element.pink.button.maell, .maell.pink a.button{
	background-color: #e22092;
}

/*.maell.pink a.button:hover{
	background-color: blue ;*/


.maell a.element.green.button, a.element.green.button.maell{
	background-color: #91bd09;
}

.maell a.element.rosy.button, a.element.rosy.button.maell{
	background-color: #F16C7C;
}

.maell a.element.brown.button, a.element.brown.button.maell{
	background-color: #804000;
}

.maell a.element.purple.button, a.element.purple.button.maell{
	background-color: #800080;
}

.maell a.element.cyan.button, a.element.cyan.button.maell{
	background-color: #46C7C7;
}

.maell a.element.gold.button, a.element.gold.button.maell{
	background-color: #D4A017;
}
